body {
  font-size: 16px;
}
html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-size: 1vw;
}
.controls {
  display: flex;
  justify-content: space-between;
  border: lightgray;
  background-color: lightgray;
  width: 43.3em;
  border-radius: 0.5em;
}

.counter {
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls * {
  margin: 0.5rem;
}

.world {
  border: solid 2px #000;
  display: grid;
  width: 43em;
  height: 43em;
  background-color: beige;
}

.gridsquare {
  border: 0.5px solid darkgray;
  background-color: white;
  padding: 0;
  fill: white;
  stroke-width: 1;
  stroke: darkgray;
}

.active {
  background-color: #d9480f;
  fill: #d9480f;
}